/* =====================================
            RESET
===================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =====================================
            GENERAL
===================================== */
body {
  /* background-image: url("/jumb.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; */
  background-color: #38673a;
}

main {
  margin: 50px 100px;
  padding: 10px;
  border-radius: 12px;
}

header {
  background-color: #fee7d2;
  color: #38673a;
}

.defDiv {
  background-color: #fcdfc6;
  color: #38673a;
  border-radius: 12px;
}
/* =====================================
            CARD
===================================== */
.cardImg {
  height: 200px;
  object-fit: cover;
  width: "100%";
}

.cardBorder {
  border: 2px solid #38673a;
}
